/**
* \file pmx_eclnomodal.css
* CSS file for modal ecl
*
* \author PortaMx - Portal Management Extension
* \author Copyright 2008-2012 by PortaMx - http://portamx.com
* \version 1.51
* \date 31.08.2012
*/
#ecl_outer {
	position: fixed;
	top: 1px;
	left: 2px;
	right: 2px;
	padding: 6px 12px;
	z-index: 500;
	border: 1px solid #909090;
	border-color: rgba(144,144,144,.5);
	background: #f5f5f0;
	border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
}
#ecl_outer select {
	border: solid 1px #aaa;
	background: #e0e0e0;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}
#ecl_outer input {
	padding: 0px 10px 2px 10px;
	font-weight: bold;
	cursor: pointer;
	background: #e0e0e0;
	border: solid 1px #aaa;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	cursor: pointer;
}
#ecl_outer input:hover {
	background: #cee7ff;
}
#ecl_outer, #ecl_privacy td {
	color: #000000;
	font-size: 1.0em;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	line-height: 1.3em;
}
#ecl_privacy td {
	padding: 3px 10px 3px 2px;
}
#ecl_privacy td div {
	border-bottom: 1px solid #505050;
}
#ecl_privacy p {
	margin-top: 0px;
}
#ecl_privacytext span strong {
	border-bottom: 1px solid #505050;
}
#ecl_privacy div {
	overflow: auto;
}
#ecl_privacy a.ecl_link:link,
#ecl_privacy a.ecl_link:visited {
	color: #3030a0;
	cursor: pointer;
}
#ecl_privacy a.ecl_link:hover {
	text-decoration: underline;
}
#ecl_privacy hr {
	color: #c0c0c0;
	background-color: #c0c0c0;
}
