/**
* \file portamx_print.css
* CSS file for portamx printing
*
* \author PortaMx - Portal Management Extension
* \author Copyright 2008-2014 by PortaMx corp. - http://portamx.com
* \version 1.53
* \date 14.11.2014
*/

/* common formatting styles */
body
{
	background-color: #ffffff;
	padding: 0.5em;
}
.pmx_printbody, td, p
{
	font-size: 10pt;
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}
