/**
* \file portamx_rtl.css
* CSS file for right to left.
*
* \author PortaMx - Portal Management Extension
* \author Copyright 2008-2014 by PortaMx corp. - http://portamx.com
* \version 1.53
* \date 14.11.2014
*/
.pmx_clickaddnew, .pmx_clickrow, .pmx_filter,.pmx_nofilter
{
	float: left !important;
}
.adm_input span, .adm_check span
{
	float: right !important;
}
.info_border span, .info_border2 span
{
	float: right !important;
}
.pmx_set_promote
{
	background: url(Images/promote.gif) no-repeat 100% 0 !important;
}
.pmx_unset_promote
{
	background: url(Images/promoted.gif) no-repeat 100% 0 !important;
}
.pmx_set_promote, .pmx_unset_promote
{
	padding: 1px 21px 1px 0px !important;
}
.pmx_printimg
{
	float: left !important;
}