/**
* \file highslide.css
* CSS file for HighSlide JS
*
* \author Torstein Hønsi
* \author Support at http://highslide.com/support
* \author PortaMx - Portal Management Extension
* \author Copyright 2008-2014 by PortaMx corp. - http://portamx.com
* \version 1.52
* \date 18.08.2014
*/
.highslide-wrapper div{font-family:Verdana,Helvetica;font-size:9pt;}
.highslide-html{background-color:#f0f4f7;font-size:12px;}
.highslide-maincontent{display:none;padding:0px 5px;}
a.highslide-full-expand{background:url(graphics/fullexpand.gif) no-repeat;display:block;margin:0 10px 10px 0;width:34px;height:34px;}
.highslide{cursor:url(graphics/zoomin.cur),pointer;outline:none;text-decoration:none;}
.highslide img{border:2px solid silver;}
.highslide:hover img{border-color:gray;}
.highslide-active-anchor img,.highslide-active-anchor:hover img{border-color:black;}
.highslide-image{border-width:2px;border-style:solid;border-color:white;background:gray;}
.highslide-wrapper,.rounded-white,.highslide-wrapper-html,.rounded-white{background:#f0f4f7;}
.highslide-image-blur{}
.highslide-heading,.highslide-caption{text-align:center;border-bottom:5px solid #d7d9dc;background:#31579F url(graphics/headerbar.png);height:24px;line-height:21px;color:#ffffff;font-weight:bold;}
.highslide-header{background:#31579F url(graphics/headerbar.png);padding:0 5px !important;height:25px;color:#ffffff;font-weight:bold;}
.highslide-header ul{margin:0;padding:0;text-align:right;}
.highslide-header ul li{display:inline;padding-left:1em;}
.highslide-posthead{font-weight:bold;height:24px;overflow:hidden;white-space:nowrap;overflow:hidden;border-bottom:1px solid #CCCCCC;}
.highslide-posthead img{float:left;padding:4px 7px 0 0;}
.highslide-posthead span{line-height:25px;}
.highslide-dimming{position:absolute;background:black;}
.highslide-loading{display:block;color:black;font-size:9px;font-weight:bold;text-transform:uppercase;text-decoration:none;padding:3px;border:1px solid white;padding-left:22px;background:#c0c0c0 url(graphics/loader.white.gif) no-repeat 3px 1px;}
.highslide-wrapper-html .highslide-html-content{display:none;padding:0 !important;color:black;max-height:85%;overflow:auto;width:65%;}
.highslide-wrapper-html .highslide-header ul{margin:0;padding:0;text-align:right;}
.highslide-wrapper-html .highslide-header ul li{display:inline;padding-left:1em;font-size:10px;}
.highslide-wrapper-html .highslide-header a{font-weight:bold;font-size:11px;color:#ffffff;text-transform:uppercase;text-decoration:none;}
.highslide-wrapper-html .highslide-header a:hover{color:#de8e8e;}
.highslide-wrapper .highslide-header .highslide-move a,.highslide-wrapper-html .highslide-header .highslide-move a{cursor:move;}
.highslide-wrapper .highslide-footer .highslide-resize,.highslide-wrapper-html .highslide-footer .highslide-resize{float:right;height:11px;width:11px;background:url(graphics/resize.gif);cursor:pointer;}
.highslide-wrapper .highslide-caption,.highslide-wrapper-html .highslide-caption{border-top:solid 1px #31579F;}
.highslide-wrapper-html .highslide-header{background:#31579F url(graphics/headerbar.png);border-bottom:5px solid #d7d9dc;height:20px;line-height:18px;padding:0 10px !important;}
.highslide-wrapper .highslide-header a,.highslide-wrapper-html .highslide-header a{font-weight:bold;color:#ffffff;text-transform:uppercase;text-decoration:none;}
.highslide-wrapper .highslide-header a:hover,.highslide-wrapper-html .highslide-header a:hover{color:#e0e000;}
.highslide-wrapper .highslide-header ul li.highslide-previous,.highslide-wrapper .highslide-header ul li.highslide-next,.highslide-wrapper-html .highslide-header ul li.highslide-previous,.highslide-wrapper-html .highslide-header ul li.highslide-next{display:none;}
.contentover{padding-bottom:5px;overflow:hidden;opacity:0.5;cursor:help;}
.contentout{padding-bottom:5px;overflow:hidden;opacity:1;}